In [1]:
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as psql
import sys,os,re
from datetime import datetime
import pymysql

from time import sleep
from smtplib import SMTP
from email.MIMEMultipart import MIMEMultipart
from email.MIMEText import MIMEText
from email.MIMEImage import MIMEImage

import pdfkit
import wkhtmltopdf
from datetime import date, timedelta

import pandasql
import math

In [2]:
SQL_EXTRACT = '/home/ricardo/Tripda/cohort'
DATA_DIR = "/home/ricardo/Tripda/cohort/"

In [3]:
#semanal aux = -1 , dias = 270 red = '<font color="#FF0000">'
#mensal aux = 1 , dias = 300 red = ''

periodo = 'mensal'


if periodo == 'semanal':
    aux = -1
    dias = 270
    red = '<font color="#FF0000">'
elif periodo == 'mensal':
    aux = 1
    dias = 300
    red = ''
else:
    print 'erro'

In [4]:
countries = []
countries.append(' TOTAL')
countries.append('Argentina + Uruguay')
countries.append('Brasil')
countries.append('Chile')
countries.append('Colombia')
countries.append('India')
countries.append('Malaysia + Singapore')
countries.append('Mexico')
countries.append('Pakistan')
#countries.append('Philippines')
#countries.append('Taiwan')
#countries.append('United States')

month = datetime.now().strftime("%m")
year = datetime.now().strftime("%Y")
months = []
actual_month = datetime.strptime('15' + month + year , "%d%m%Y").date()
actual_month = actual_month - timedelta(days=dias)
for count in range(0,9):
    actual_month = actual_month + timedelta(days=30)
    months.append(actual_month)

reference_month = []
reference_month.append('same_month')
reference_month.append('1_month')
reference_month.append('2_month')
reference_month.append('3_month')
reference_month.append('4_month')
reference_month.append('5_month')
reference_month.append('6_month')
reference_month.append('7_to_12_month')

cohort_type = []
cohort_type.append('RR1')
cohort_type.append('RR1_Ac')
cohort_type.append('RR2')
cohort_type.append('RR2_Ac')

titles_main = ['Country','Month','Cohort size']
titles_cohort = ['(B) <br/> Same month','(C) <br/> 1 month','(D) <br/> 2 months','(E) <br/> 3 months', \
                 '(F) <br/> 4 months','(G) <br/> 5 months','(H) <br/> 6 months','(I) <br/> More than 6 months']
titles_name = []
titles_name.extend(titles_main)
titles_name.extend(titles_cohort)
titles_name.extend(titles_cohort)

In [5]:
all_drivers_table = pd.read_csv(file(DATA_DIR + "all_drivers.csv"))
first_driver_table = pd.read_csv(file(DATA_DIR + "first_driver.csv"))
all_pax_table = pd.read_csv(file(DATA_DIR + "all_pax.csv"))
first_pax_table = pd.read_csv(file(DATA_DIR + "first_pax.csv"))

In [6]:
def transform_1(first_table):

    ##### Create a list for first time using Tripda per country and per month #####
    cohort_first = {}
    for locate in countries:
        cohort_first[locate] = {}
        for date in months:
            cohort_first[locate][date] = {}
            
            cohort_first[locate][date]['RR1'] = first_table[(first_table.country == locate) & \
                                         (first_table.year == date.year) & \
                                         (first_table.month == date.month)].user_id.tolist()

            cohort_first[locate][date]['RR2'] = first_table[(first_table.country == locate) & \
                                         (first_table.year == date.year) & \
                                         (first_table.month == date.month)].distance.tolist()

    return cohort_first

In [7]:
def transform_2(first_table, all_table, cohort_first):

    pysql = lambda q: pandasql.sqldf(q, globals())

    cohort_lists = {}

    for locate in countries:
        cohort_lists[locate] = {}
        
        for date in months:
            cohort_lists[locate][date] = {}
            acumulated_list = []
            
            if cohort_first[locate][date]['RR1'] == []:
                l = []
                intermediary_query = "select distinct all_table.user_id from all_table where all_table.user_id in ('')"
            else:
                l = [str(x) for x in cohort_first[locate][date]['RR1']]
                intermediary_query = "select distinct all_table.user_id from all_table where all_table.user_id in (" + ','.join(l) + ")"

            for reference in reference_month:
                print str(datetime.now()) + ' ==> ' + str(locate) + ' - ' + str(date) + ' - ' + str(reference)
                cohort_lists[locate][date][reference] = {}         

                if reference == 'same_month':
                    reference_date = date
                    same_month_query = 'all_table.year = ' + str(reference_date.year) + \
                                       ' and all_table.month = ' + str(reference_date.month) + \
                                       ' and all_table.count > 1'
                    
                    end_query = ' and ' + same_month_query
                    end_query_Ac = ' and ' + same_month_query
                
                Ac_month = actual_month - timedelta(days=30)
                if reference == '1_month' and Ac_month >= date:
                    reference_date = date + timedelta(days=30)
                    _1_month_query = 'all_table.year = ' + str(reference_date.year) + \
                                     ' and all_table.month = ' + str(reference_date.month)
                    
                    end_query = ' and ' + _1_month_query
                    end_query_Ac =  ' and ((' + same_month_query + ') or (' + _1_month_query + '))'

                Ac_month = actual_month - timedelta(days=60)
                if reference == '2_month' and Ac_month >= date:
                    reference_date = date + timedelta(days=60)
                    _2_month_query = 'all_table.year = ' + str(reference_date.year) + \
                                     ' and all_table.month = ' + str(reference_date.month)
                    
                    end_query = ' and ' + _2_month_query
                    end_query_Ac =  ' and ((' + same_month_query + ') or (' + _1_month_query + ') or (' + _2_month_query + '))'
                
                Ac_month = actual_month - timedelta(days=90)
                if reference == '3_month' and Ac_month >= date:
                    reference_date = date + timedelta(days=90)
                    _3_month_query = 'all_table.year = ' + str(reference_date.year) + \
                                     ' and all_table.month = ' + str(reference_date.month)
                    
                    end_query = ' and ' + _3_month_query
                    end_query_Ac =  ' and ((' + same_month_query + ') or (' + _1_month_query + ') or (' + _2_month_query + ') or (' \
                                        + _3_month_query + '))' 
                
                Ac_month = actual_month - timedelta(days=120)
                if reference == '4_month' and Ac_month >= date:
                    reference_date = date + timedelta(days=120)
                    _4_month_query = 'all_table.year = ' + str(reference_date.year) + \
                                ' and all_table.month = ' + str(reference_date.month)
                    
                    end_query = ' and ' + _4_month_query
                    end_query_Ac =  ' and ((' + same_month_query + ') or (' + _1_month_query + ') or (' + _2_month_query + ') or (' \
                                        + _3_month_query + ') or (' + _4_month_query + '))' 
                
                Ac_month = actual_month - timedelta(days=150)
                if reference == '5_month' and Ac_month >= date:
                    reference_date = date + timedelta(days=150)
                    _5_month_query = 'all_table.year = ' + str(reference_date.year) + \
                                ' and all_table.month = ' + str(reference_date.month)
                    
                    end_query = ' and ' + _5_month_query
                    end_query_Ac =  ' and ((' + same_month_query + ') or (' + _1_month_query + ') or (' + _2_month_query + ') or (' \
                                        + _3_month_query + ') or (' + _4_month_query + ') or (' + _5_month_query + '))' 
        
                Ac_month = actual_month - timedelta(days=180)
                if reference == '6_month' and Ac_month >= date:
                    reference_date = date + timedelta(days=180)
                    _6_month_query = 'all_table.year = ' + str(reference_date.year) + \
                                ' and all_table.month = ' + str(reference_date.month)
                    
                    end_query = ' and ' + _6_month_query
                    end_query_Ac =  ' and ((' + same_month_query + ') or (' + _1_month_query + ') or (' + _2_month_query + ') or (' \
                                        + _3_month_query + ') or (' + _4_month_query + ') or (' + _5_month_query + ') or (' + _6_month_query + '))' 

                Ac_month = actual_month - timedelta(days=210)
                if reference == '7_to_12_month':
                    reference_date = date + timedelta(days=210)
                    _7_to_12_month_query = '((all_table.year = ' + str(reference_date.year) + \
                                ' and all_table.month = ' + str(reference_date.month) + ')'
                    reference_date = date + timedelta(days=240)
                    _7_to_12_month_query += ' or (all_table.year = ' + str(reference_date.year) + \
                                ' and all_table.month = ' + str(reference_date.month) + ')'
                    reference_date = date + timedelta(days=270)
                    _7_to_12_month_query += ' or (all_table.year = ' + str(reference_date.year) + \
                                ' and all_table.month = ' + str(reference_date.month) + ')'
                    reference_date = date + timedelta(days=300)
                    _7_to_12_month_query += ' or (all_table.year = ' + str(reference_date.year) + \
                                ' and all_table.month = ' + str(reference_date.month) + ')'
                    reference_date = date + timedelta(days=330)
                    _7_to_12_month_query += ' or (all_table.year = ' + str(reference_date.year) + \
                                ' and all_table.month = ' + str(reference_date.month) + ')'
                    reference_date = date + timedelta(days=360)
                    _7_to_12_month_query += ' or (all_table.year = ' + str(reference_date.year) + \
                                ' and all_table.month = ' + str(reference_date.month) + '))'
                    
                    end_query = ' and ' + _7_to_12_month_query
                    end_query_Ac =  ' and ((' + same_month_query + ') or (' + _1_month_query + ') or (' + _2_month_query + ') or (' \
                                        + _3_month_query + ') or (' + _4_month_query + ') or (' + _5_month_query + ') or (' + _6_month_query + ') or (' \
                                        + _7_to_12_month_query + '))'

                auxiliar_query = intermediary_query + end_query
                
                auxiliar_df = pandasql.sqldf(auxiliar_query, locals()) 
                auxiliar_list = auxiliar_df['user_id'].values.tolist()

                #List of accumulated users on the referent date
                acumulated_list.extend(auxiliar_list)
                acumulated_list = list(set(acumulated_list))

                ml = [str(x) for x in l]
                al = [str(x) for x in acumulated_list]
       
                if ml == []:
                    RR1_query = "select count(distinct all_table.user_id) from all_table where all_table.user_id in ('')"
                    RR2_query = "select sum(all_table.distance) from all_table where all_table.user_id in ('')"
                else:
                    RR1_query = "select count(distinct all_table.user_id) from all_table where all_table.user_id in (" + ','.join(ml) + ')'
                    RR2_query = "select sum(all_table.distance) from all_table where all_table.user_id in (" + ','.join(ml) + ')'

                if al == []:
                    RR1Ac_query = "select count(distinct all_table.user_id) from all_table where all_table.user_id in ('')"
                    RR2Ac_query = "select sum(all_table.distance) from all_table where all_table.user_id in ('')"
                else:
                    RR1Ac_query = "select count(distinct all_table.user_id) from all_table where all_table.user_id in (" + ','.join(al) + ')'
                    RR2Ac_query = "select sum(all_table.distance) from all_table where all_table.user_id in (" + ','.join(al) + ')'              
                 
                RR1_query += end_query
                RR1Ac_query += end_query_Ac
                RR2_query += end_query
                RR2Ac_query += end_query_Ac

                default_format = lambda x: str(x).translate(None, ''.join(['[' , ']' , '.', ' ']))
                
                cohort_lists[locate][date][reference] = {}
                
                final_df = pandasql.sqldf(RR1_query, locals())
                if default_format(final_df.values) == 'None':
                    cohort_lists[locate][date][reference]['RR1'] = 0
                else:
                    cohort_lists[locate][date][reference]['RR1'] = default_format(final_df.values)

                final_df = pandasql.sqldf(RR1Ac_query, locals()) 
                if default_format(final_df.values) == 'None':
                    cohort_lists[locate][date][reference]['RR1_Ac'] = 0
                else:
                    cohort_lists[locate][date][reference]['RR1_Ac'] = default_format(final_df.values)
                
                final_df = pandasql.sqldf(RR2_query, locals()) 
                if default_format(final_df.values) == 'None':
                    cohort_lists[locate][date][reference]['RR2'] = 0
                else:
                    cohort_lists[locate][date][reference]['RR2'] = default_format(final_df.values)
                
                final_df = pandasql.sqldf(RR2Ac_query, locals()) 
                if default_format(final_df.values) == 'None':
                    cohort_lists[locate][date][reference]['RR2_Ac'] = 0
                else:
                    cohort_lists[locate][date][reference]['RR2_Ac'] = default_format(final_df.values)
                    
    for locate in countries:
        for date in months:
            for reference in reference_month:
                for cohort in cohort_type:
                    cohort_lists[' TOTAL'][date][reference][cohort] =  str(int(cohort_lists[' TOTAL'][date][reference][cohort]) +
                                                                        int(cohort_lists[locate][date][reference][cohort]))
                    
    return cohort_lists

In [8]:
def transform_3(cohort_first):

    cohort_size = {}
    for locate in countries:
        cohort_size[locate] = {}
        
        for date in months:
            cohort_size[locate][date] = {}
            
            if int(date.month) == int(month) and int(date.year) == int(year):
                cohort_size[locate][date]['RR1'] = aux*len(cohort_first[locate][date]['RR1'])
                cohort_size[locate][date]['RR2'] = aux*sum([int(x) for x in cohort_first[locate][date]['RR2']])

                cohort_size[' TOTAL'][date]['RR1'] = cohort_size[' TOTAL'][date]['RR1'] + aux*int(math.sqrt(cohort_size[locate][date]['RR1']*cohort_size[locate][date]['RR1'])) 
                cohort_size[' TOTAL'][date]['RR2'] = cohort_size[' TOTAL'][date]['RR2'] + aux*int(math.sqrt(cohort_size[locate][date]['RR2']*cohort_size[locate][date]['RR2']))            
            else:
                cohort_size[locate][date]['RR1'] = len(cohort_first[locate][date]['RR1'])
                cohort_size[locate][date]['RR2'] = sum([int(x) for x in cohort_first[locate][date]['RR2']]) 
                
                cohort_size[' TOTAL'][date]['RR1'] += int(math.sqrt(cohort_size[locate][date]['RR1']*cohort_size[locate][date]['RR1'])) 
                cohort_size[' TOTAL'][date]['RR2'] += int(math.sqrt(cohort_size[locate][date]['RR2']*cohort_size[locate][date]['RR2']))              


    return cohort_size

In [9]:
def transform_4(cohort_lists):
    for country in countries:
        for cohort in cohort_type:
            
            counter = len(months) - 1
            for reference in reference_month:
                counter -= 1
                aux = counter
                for date in months:
                    
                    if aux >= 0:
                        cohort_lists[country][date][reference][cohort] = int(cohort_lists[country][date][reference][cohort])
                        aux -= 1
                    elif aux == -1:
                        if int(cohort_lists[country][date][reference][cohort]) == 0:
                            cohort_lists[country][date][reference][cohort] = aux*0.000001
                        else:
                            cohort_lists[country][date][reference][cohort] = aux*int(cohort_lists[country][date][reference][cohort])
                            
                        aux -= 1                   
                    else:
                        cohort_lists[country][date][reference][cohort] = pow(10,100)

    return cohort_lists

In [10]:
def html_inicial():

    ### TEXTO INICIAL ##########################################
    
    html_texto_inicial = "Please find bellow the Pax Cohort Report.\n <br/> \
    I attached Eduardo's presentation with the meaning of each cohort (for any doubt). \n <br/>\
    Also, please let me know if you need any additional data or help reading the report. \n <br/>\
    PDF attached, with the same data. <br/><br/><br/>\n\n"
    
    return html_texto_inicial

In [11]:
def html (cohort_lists, cohort_size, index):

    import pandas
    import numpy as np

    ### TITULO ##########################################
    if index == 1:
        html_titulo = '\n <br/> <table border="1"; style="font-size:30px"; align="center"; width="1100"; height="55";>\
    <th>Cohort - Driver</th></table><br/><br/>\n\n'
    else:
        html_titulo = '\n <br/> <table border="1"; style="font-size:30px"; align="center"; width="1100"; height="55";>\
    <th>Cohort - Passenger</th></table><br/><br/>\n\n'        
    ### CORPO 1 (RR1)##########################################
    rate_format = lambda x: str('%.1f' % x) + '%'

    html_corpo = '<table border="1" style="font-size:12px; border-collapse: collapse;" width="1100" align="center"> \
    <style> table, th, td {border: 1px solid black;} </style>\n'

    html_corpo += '    <tr> \n\
            <th colspan="3"></th> \n\
            <th bgcolor="#18BD9D" colspan="8" style="border-width: 2px;"><font color = "white">RR1</font></th> \n\
            <th bgcolor="#18BD9D" colspan="8" style="border-width: 2px;"><font color = "white">RR1 Acummulated</font></th> \n\
        </tr>\n\n'

    html_corpo += '    <tr bgcolor="#36E6C4" colspan="2"  height="60" style="border: solid 2px; font-size:9px">\n'

    for title in titles_name:
        if title == 'Month':
            html_corpo += '       <th width="200" style="border-width: 1px 2px 1px 1px ;">'
        else:
            html_corpo += '       <th width="90" style="border-width: 1px 2px 1px 1px ;">'
        html_corpo += title
        html_corpo +='</th>\n'
    html_corpo += '    </tr>\n\n'

    ref_country = ''
    for country in countries:
        for date in months:
            if country == ref_country:
                html_corpo += '    <tr>\n'
                html_corpo += ''
            else:
                html_corpo += '    <tr style="border-top: 2px solid black;">\n'
                html_corpo += '       <td align="center"; rowspan=" '+ str(len(months)) +'";>' + country + '</td>\n'
                ref_country = country
            html_corpo += '       <td align="center";>' + date.strftime("%b %Y") + '</td>\n'
            
            if cohort_size[country][date]['RR1'] < 0:
                cohort_size[country][date]['RR1'] = -cohort_size[country][date]['RR1']
                html_corpo += '       <td align="center"; bgcolor="#EEEEEE";><font color="#FF0000">' + str(cohort_size[country][date]['RR1']) + '</td>\n'
            else:
                html_corpo += '       <td align="center"; bgcolor="#EEEEEE">' + str(cohort_size[country][date]['RR1']) + '</td>\n'
                
            for cohort in ('RR1','RR1_Ac'):
                for reference in reference_month:
                    if reference == '6_to_12_month':
                        if cohort_size[country][date]['RR1'] == 0 or cohort_lists[country][date][reference][cohort] >= pow(10,100):
                            html_corpo += '       <td align="center"; style="border-width: 1px 2px 1px 1px";>''</td>\n'
                        elif cohort_lists[country][date][reference][cohort] < 0:
                            html_corpo += '       <td align="center"; style="border-width: 1px 2px 1px 1px";>' + red + rate_format(100*float(-cohort_lists[country][date][reference][cohort])/cohort_size[country][date]['RR1']) + '</td>\n'
                        else:
                            html_corpo += '       <td align="center"; style="border-width: 1px 2px 1px 1px";>' + rate_format(100*float(cohort_lists[country][date][reference][cohort])/cohort_size[country][date]['RR1']) + '</td>\n'
                    else:
                        if cohort_size[country][date]['RR1'] == 0 or cohort_lists[country][date][reference][cohort] >= pow(10,100):
                            html_corpo += '       <td align="center";>''</td>\n'
                        elif cohort_lists[country][date][reference][cohort] < 0:
                            html_corpo += '       <td align="center";">' + red + rate_format(100*float(-cohort_lists[country][date][reference][cohort])/cohort_size[country][date]['RR1']) + '</td>\n'
                        else:
                            html_corpo += '       <td align="center";>' + rate_format(100*float(cohort_lists[country][date][reference][cohort])/cohort_size[country][date]['RR1']) + '</td>\n'
            html_corpo += '    </tr>\n'

    html_corpo += '</table>\n <br/><br/>'        


    ### CORPO 2 (RR2)##########################################

    html_corpo += '\n\n<table border="1" style="font-size:12px; border-collapse: collapse;" width="1100" align="center"> \
    <style> table, th, td {border: 1px solid black;} </style>\n'

    html_corpo += '    <tr> \n\
            <th colspan="3"></th> \n\
            <th bgcolor="#18BD9D" colspan="8" style="border-width: 2px;"><font color = "white">RR2</font></th> \n\
            <th bgcolor="#18BD9D" colspan="8" style="border-width: 2px;"><font color = "white">RR2 Acummulated</font></th> \n\
        </tr>\n\n'

    html_corpo += '    <tr bgcolor="#36E6C4" colspan="2"  height="60" style="border: solid 2px; font-size:9px">\n'

    for title in titles_name:
        if title == 'Month':
            html_corpo += '       <th width="200" style="border-width: 1px 2px 1px 1px ;">'
        else:
            html_corpo += '       <th width="90" style="border-width: 1px 2px 1px 1px ;">'
        html_corpo += title
        html_corpo +='</th>\n'
    html_corpo += '    </tr>\n\n'

    ref_country = ''
    for country in countries:
        for date in months:
            if country == ref_country:
                html_corpo += '    <tr>\n'
                html_corpo += ''
            else:
                html_corpo += '    <tr style="border-top: 2px solid black;">\n'
                html_corpo += '       <td align="center"; rowspan=" '+ str(len(months)) +'";>' + country + '</td>\n'
                ref_country = country
            html_corpo += '       <td align="center";>' + date.strftime("%b %Y") + '</td>\n'
            
            if cohort_size[country][date]['RR2'] < 0:
                cohort_size[country][date]['RR2'] = -cohort_size[country][date]['RR2']
                html_corpo += '       <td align="center"; bgcolor="#EEEEEE";><font color="#FF0000">' + str(cohort_size[country][date]['RR2']) + '</td>\n'
            else:
                html_corpo += '       <td align="center"; bgcolor="#EEEEEE">' + str(cohort_size[country][date]['RR2']) + '</td>\n'
                
            for cohort in ('RR2','RR2_Ac'):
                for reference in reference_month:
                    if reference == '6_to_12_month':
                        if cohort_size[country][date]['RR2'] == 0 or cohort_lists[country][date][reference][cohort] >= pow(10,100):
                             html_corpo += '       <td align="center"; style="border-width: 1px 2px 1px 1px";>''</td>\n'
                        elif cohort_lists[country][date][reference][cohort] < 0:
                            html_corpo += '       <td align="center"; style="border-width: 1px 2px 1px 1px";>' + red + rate_format(100*float(-cohort_lists[country][date][reference][cohort])/cohort_size[country][date]['RR2']) + '</td>\n'
                        else:
                            html_corpo += '       <td align="center"; style="border-width: 1px 2px 1px 1px";>' + rate_format(100*float(cohort_lists[country][date][reference][cohort])/cohort_size[country][date]['RR2']) + '</td>\n'
                    else:
                        if cohort_size[country][date]['RR2'] == 0 or cohort_lists[country][date][reference][cohort] >= pow(10,100):
                            html_corpo += '       <td align="center";>''</td>\n'
                        elif cohort_lists[country][date][reference][cohort] < 0:
                            html_corpo += '       <td align="center";>' + red + rate_format(100*float(-cohort_lists[country][date][reference][cohort])/cohort_size[country][date]['RR2']) + '</td>\n'
                        else:
                            html_corpo += '       <td align="center";>' + rate_format(100*float(cohort_lists[country][date][reference][cohort])/cohort_size[country][date]['RR2']) + '</td>\n'
            html_corpo += '    </tr>\n'

    html_corpo += '</table> \n <br/>'

    html_body = html_titulo + html_corpo
    
    return html_body

In [12]:
def html_final():

    ### LEGENDA GERAL ##########################################
    html_legenda_geral = '<table border="1" style="font-size:12px; border-collapse: collapse; border-width: 2px;" width="700">\n\
    <tr>  \n\
        <th bgcolor="#18BD9D" width="160"><font color = "white">Traffic activity view</font></th>\n\
        <td>Date of when users book or offer a ride on the site</td>\n\
    </tr>\n\
    <tr>  \n\
        <th bgcolor="#18BD9D"><font color = "white">Realized view</font></th>\n\
        <td>Date of when trips actually occurs</td>\n\
    </tr>\n \
    </table><br/>\n'

    ### LEGENDA DETALHADA 1 ##########################################
    html_legenda_detalhada = '<table border="1" style="font-size:12px; border-collapse: collapse; border-width: 2px;" width="1100">\n\
    \
    <tr>  \n\
        <th bgcolor="#18BD9D" rowspan="6"  width="120" align="center"><font color = "white">Traffic activity view</font></th>\n\
        <th bgcolor="#36E6C4" width="200">New Users</th>\n\
        <td>New users on the given period</td>\n\
    </tr>\n\
    \
    <tr>  \n\
        <th bgcolor="#36E6C4">New Drivers</th>\n\
        <td>New drivers on the given period</td>\n\
    </tr>\n\
    \
    <tr>  \n\
        <th bgcolor="#36E6C4">New Passangers</th>\n\
        <td>New passangers  on the given period</td>\n\
    </tr>\n\
    \
    <tr>  \n\
        <th bgcolor="#36E6C4">Trips Offered</th>\n\
        <td>Number of new trips offered in the given date. Number of trips don\'t include stopovers.\
    Eg: a trip from San Francisco to Los Angeles, stoping at Monterey and Santa Maria would count as 1 trip offered.</td>\n\
    </tr>\n\
    \
    <tr>  \n\
        <th bgcolor="#36E6C4">Bookings</th>\n\
        <td>Number of bookings in the given period. Eg: a booking of 3 seats booked on 12/09/2014 to travel on 14/09/2014 would be counted as 1 booking on 12/09/2014 </td>\n\
    </tr>\n\
    \
    <tr>  \n\
        <th bgcolor="#36E6C4">Available Seat Kilometer (ASK)</th>\n\
        <td>Number of seats offered in the given period times the number of kilometers of each trip.</td>\n\
    </tr>\n'

    ### LEGENDA DETALHADA 2 ##########################################
    html_legenda_detalhada += '<tr>  \n\
        <th bgcolor="#18BD9D" rowspan="7" align="center"><font color = "white">Realized view</font></th>\n\
        <th bgcolor="#36E6C4">Trips realized</th>\n\
        <td>Number of trips with at least one Tripda passenger in the given period, regardless the number of bookings in the car.\
    Eg: a trip from Bogota to Manizales with 3 PAX and 3 different bookings would caount as 1 trip.</td>\n\
    </tr>\n\
    \
    <tr>  \n\
        <th bgcolor="#36E6C4">PAX transported</th>\n\
        <td>Number os passengers transported in the given period</td>\n\
    </tr>\n\
    \
    <tr>  \n\
        <th bgcolor="#36E6C4">Average PAX per trip realized</th>\n\
        <td>Average PAX per trip realized  (PAX transported / Trips realized)</td>\n\
    </tr>\n\
    \
    <tr>  \n\
        <th bgcolor="#36E6C4">Realized TRIP Yield</th>\n\
        <td>Percentage of outstanding trips offered that converted into a realized trip, having at least one PAX transported.\
    Don\'t confuse with "Trips offered". Here we consider the date when the trip takes place. \
    Eg: if in one day Malaysia had 100 trips outstanding and 12 trips realized, the \"Realized trip yield\" would be 12%.</td>\n\
    </tr>\n\
    \
    <tr>  \n\
        <th bgcolor="#36E6C4">Average realized trip distance</th>\n\
        <td>Average distance traveled in the given period. The average is weighted by the number of passenger on each trip.</td>\n\
    </tr>\n\
    \
    <tr>  \n\
        <th bgcolor="#36E6C4">Driver Cancelation rate</th>\n\
        <td>Percentage of PAX affected by driver cancellations for trips that would happen in that given period.\
    If a Driver cancels a trip, in which no PAX has yet booked a seat, this wont\'t count for this statistics. \
    Eg: If there are 100 PAX travelig on Tripda in a given day and one driver cancels a ride with 4 seats booked, \
    the cacelation rate would be 4%</td>\n\
    </tr>\n\
    \
    <tr>  \n\
        <th bgcolor="#36E6C4">PAX Cancelation rate</th>\n\
        <td>Percentage of trips canceled by passengers that would actually become a real trip in the given period</td>\n\
    </tr>\n\
    \
    </table>'


    html_legend = html_legenda_geral + html_legenda_detalhada


    return html_legend

In [13]:
def SendEmail(subject, msgText, to, user,password, alias, imgName, replyTo=None):
    sender = alias

    try:
        conn = SMTP('smtp.gmail.com', 587)

        msg = MIMEMultipart()
        msg.attach(MIMEText(msgText, 'html'))
        msg['Subject']= subject
        msg['From']   = sender
        msg['cc'] = to
        #msg['cc'] = ', '.join(to)

        if replyTo:
            msg['reply-to'] = replyTo

        if imgName != None:
            fp = open(imgName, 'rb')
            img = MIMEImage(fp.read(), _subtype="pdf")
            fp.close()
            img.add_header('Content-Disposition', 'attachment', filename = imgName)
            msg.attach(img)

        conn.ehlo()
        conn.starttls()
        conn.set_debuglevel(False)
        conn.login(user, password)
        try:
            conn.sendmail(sender, to, msg.as_string())
        finally:
            conn.close()
    except:
        print "Unexpected error:", sys.exc_info()[0]

def titles (index):
    import time
    from time import strftime

    month = (date.today().strftime("%B"))
    Subject = "Tripda - Pax Cohort Report - " + month
    
    month = date.today().strftime("%B")
    year = date.today().strftime("%y")
    PDFReport_Name = "Cohorts " + month + " 20" +  year + ".pdf"

    if index == 1 :
        return Subject
    else:
        return PDFReport_Name

In [14]:
driver_first_list = transform_1(first_driver_table)
pax_first_list = transform_1(first_pax_table)

cohort_driver = transform_2(first_driver_table, all_drivers_table, driver_first_list)
cohort_passenger = transform_2(first_pax_table, all_pax_table, pax_first_list)

cohort_size_driver = transform_3(driver_first_list)
cohort_size_pax = transform_3(pax_first_list)

cohort_driver_final = transform_4(cohort_driver)
cohort_passenger_final = transform_4(cohort_passenger)

2016-01-04 14:04:21.299792 ==>  TOTAL - 2015-04-20 - same_month
2016-01-04 14:04:22.555084 ==>  TOTAL - 2015-04-20 - 1_month
2016-01-04 14:04:23.548419 ==>  TOTAL - 2015-04-20 - 2_month
2016-01-04 14:04:24.598257 ==>  TOTAL - 2015-04-20 - 3_month
2016-01-04 14:04:25.550836 ==>  TOTAL - 2015-04-20 - 4_month
2016-01-04 14:04:26.620728 ==>  TOTAL - 2015-04-20 - 5_month
2016-01-04 14:04:27.702621 ==>  TOTAL - 2015-04-20 - 6_month
2016-01-04 14:04:28.758357 ==>  TOTAL - 2015-04-20 - 7_to_12_month
2016-01-04 14:04:30.253638 ==>  TOTAL - 2015-05-20 - same_month
2016-01-04 14:04:31.850510 ==>  TOTAL - 2015-05-20 - 1_month
2016-01-04 14:04:33.063190 ==>  TOTAL - 2015-05-20 - 2_month
2016-01-04 14:04:34.448688 ==>  TOTAL - 2015-05-20 - 3_month
2016-01-04 14:04:35.472549 ==>  TOTAL - 2015-05-20 - 4_month
2016-01-04 14:04:36.517489 ==>  TOTAL - 2015-05-20 - 5_month
2016-01-04 14:04:37.639311 ==>  TOTAL - 2015-05-20 - 6_month
2016-01-04 14:04:38.959062 ==>  TOTAL - 2015-05-20 - 7_to_12_month
2016-01-04 14:04:40.618223 ==>  TOTAL - 2015-06-19 - same_month
2016-01-04 14:04:42.076753 ==>  TOTAL - 2015-06-19 - 1_month
2016-01-04 14:04:43.391727 ==>  TOTAL - 2015-06-19 - 2_month
2016-01-04 14:04:44.487907 ==>  TOTAL - 2015-06-19 - 3_month
2016-01-04 14:04:45.613090 ==>  TOTAL - 2015-06-19 - 4_month
2016-01-04 14:04:46.619646 ==>  TOTAL - 2015-06-19 - 5_month
2016-01-04 14:04:47.594082 ==>  TOTAL - 2015-06-19 - 6_month
2016-01-04 14:04:48.523113 ==>  TOTAL - 2015-06-19 - 7_to_12_month
2016-01-04 14:04:49.478608 ==>  TOTAL - 2015-07-19 - same_month
2016-01-04 14:04:50.397780 ==>  TOTAL - 2015-07-19 - 1_month
2016-01-04 14:04:51.350311 ==>  TOTAL - 2015-07-19 - 2_month
2016-01-04 14:04:52.448038 ==>  TOTAL - 2015-07-19 - 3_month
2016-01-04 14:04:53.468027 ==>  TOTAL - 2015-07-19 - 4_month
2016-01-04 14:04:54.548660 ==>  TOTAL - 2015-07-19 - 5_month
2016-01-04 14:04:55.512200 ==>  TOTAL - 2015-07-19 - 6_month
2016-01-04 14:04:56.728923 ==>  TOTAL - 2015-07-19 - 7_to_12_month
2016-01-04 14:04:57.792893 ==>  TOTAL - 2015-08-18 - same_month
2016-01-04 14:04:58.935573 ==>  TOTAL - 2015-08-18 - 1_month
2016-01-04 14:04:59.980845 ==>  TOTAL - 2015-08-18 - 2_month
2016-01-04 14:05:00.976823 ==>  TOTAL - 2015-08-18 - 3_month
2016-01-04 14:05:01.942015 ==>  TOTAL - 2015-08-18 - 4_month
2016-01-04 14:05:03.687218 ==>  TOTAL - 2015-08-18 - 5_month
2016-01-04 14:05:04.688538 ==>  TOTAL - 2015-08-18 - 6_month
2016-01-04 14:05:05.624123 ==>  TOTAL - 2015-08-18 - 7_to_12_month
2016-01-04 14:05:06.636398 ==>  TOTAL - 2015-09-17 - same_month
2016-01-04 14:05:07.607437 ==>  TOTAL - 2015-09-17 - 1_month
2016-01-04 14:05:08.646709 ==>  TOTAL - 2015-09-17 - 2_month
2016-01-04 14:05:09.630875 ==>  TOTAL - 2015-09-17 - 3_month
2016-01-04 14:05:10.613385 ==>  TOTAL - 2015-09-17 - 4_month
2016-01-04 14:05:11.637399 ==>  TOTAL - 2015-09-17 - 5_month
2016-01-04 14:05:12.612709 ==>  TOTAL - 2015-09-17 - 6_month
2016-01-04 14:05:13.743501 ==>  TOTAL - 2015-09-17 - 7_to_12_month
2016-01-04 14:05:14.739801 ==>  TOTAL - 2015-10-17 - same_month
2016-01-04 14:05:15.714961 ==>  TOTAL - 2015-10-17 - 1_month
2016-01-04 14:05:16.619841 ==>  TOTAL - 2015-10-17 - 2_month
2016-01-04 14:05:17.569965 ==>  TOTAL - 2015-10-17 - 3_month
2016-01-04 14:05:18.807257 ==>  TOTAL - 2015-10-17 - 4_month
2016-01-04 14:05:19.830485 ==>  TOTAL - 2015-10-17 - 5_month
2016-01-04 14:05:20.998661 ==>  TOTAL - 2015-10-17 - 6_month
2016-01-04 14:05:22.122314 ==>  TOTAL - 2015-10-17 - 7_to_12_month
2016-01-04 14:05:23.153643 ==>  TOTAL - 2015-11-16 - same_month
2016-01-04 14:05:24.160415 ==>  TOTAL - 2015-11-16 - 1_month
2016-01-04 14:05:25.102641 ==>  TOTAL - 2015-11-16 - 2_month
2016-01-04 14:05:26.060804 ==>  TOTAL - 2015-11-16 - 3_month
2016-01-04 14:05:26.982411 ==>  TOTAL - 2015-11-16 - 4_month
2016-01-04 14:05:27.906685 ==>  TOTAL - 2015-11-16 - 5_month
2016-01-04 14:05:28.879389 ==>  TOTAL - 2015-11-16 - 6_month
2016-01-04 14:05:29.814359 ==>  TOTAL - 2015-11-16 - 7_to_12_month
2016-01-04 14:05:30.813849 ==>  TOTAL - 2015-12-16 - same_month
2016-01-04 14:05:31.816899 ==>  TOTAL - 2015-12-16 - 1_month
2016-01-04 14:05:32.769915 ==>  TOTAL - 2015-12-16 - 2_month
2016-01-04 14:05:33.692878 ==>  TOTAL - 2015-12-16 - 3_month
2016-01-04 14:05:34.623347 ==>  TOTAL - 2015-12-16 - 4_month
2016-01-04 14:05:35.556524 ==>  TOTAL - 2015-12-16 - 5_month
2016-01-04 14:05:36.709079 ==>  TOTAL - 2015-12-16 - 6_month
2016-01-04 14:05:37.675045 ==>  TOTAL - 2015-12-16 - 7_to_12_month
2016-01-04 14:05:38.645467 ==> Argentina + Uruguay - 2015-04-20 - same_month
2016-01-04 14:05:39.656379 ==> Argentina + Uruguay - 2015-04-20 - 1_month
2016-01-04 14:05:40.836072 ==> Argentina + Uruguay - 2015-04-20 - 2_month
2016-01-04 14:05:41.853663 ==> Argentina + Uruguay - 2015-04-20 - 3_month
2016-01-04 14:05:42.833404 ==> Argentina + Uruguay - 2015-04-20 - 4_month
2016-01-04 14:05:43.787072 ==> Argentina + Uruguay - 2015-04-20 - 5_month
2016-01-04 14:05:44.714423 ==> Argentina + Uruguay - 2015-04-20 - 6_month
2016-01-04 14:05:45.720061 ==> Argentina + Uruguay - 2015-04-20 - 7_to_12_month
2016-01-04 14:05:46.686604 ==> Argentina + Uruguay - 2015-05-20 - same_month
2016-01-04 14:05:47.723175 ==> Argentina + Uruguay - 2015-05-20 - 1_month
2016-01-04 14:05:48.740661 ==> Argentina + Uruguay - 2015-05-20 - 2_month
2016-01-04 14:05:49.728461 ==> Argentina + Uruguay - 2015-05-20 - 3_month
2016-01-04 14:05:50.702722 ==> Argentina + Uruguay - 2015-05-20 - 4_month
2016-01-04 14:05:51.661294 ==> Argentina + Uruguay - 2015-05-20 - 5_month
2016-01-04 14:05:52.622057 ==> Argentina + Uruguay - 2015-05-20 - 6_month
2016-01-04 14:05:53.577349 ==> Argentina + Uruguay - 2015-05-20 - 7_to_12_month
2016-01-04 14:05:54.537993 ==> Argentina + Uruguay - 2015-06-19 - same_month
2016-01-04 14:05:55.493612 ==> Argentina + Uruguay - 2015-06-19 - 1_month
2016-01-04 14:05:56.448421 ==> Argentina + Uruguay - 2015-06-19 - 2_month
2016-01-04 14:05:57.452583 ==> Argentina + Uruguay - 2015-06-19 - 3_month
2016-01-04 14:05:58.411818 ==> Argentina + Uruguay - 2015-06-19 - 4_month
2016-01-04 14:05:59.387301 ==> Argentina + Uruguay - 2015-06-19 - 5_month
2016-01-04 14:06:00.342286 ==> Argentina + Uruguay - 2015-06-19 - 6_month
2016-01-04 14:06:01.287375 ==> Argentina + Uruguay - 2015-06-19 - 7_to_12_month
2016-01-04 14:06:02.273023 ==> Argentina + Uruguay - 2015-07-19 - same_month
2016-01-04 14:06:03.204575 ==> Argentina + Uruguay - 2015-07-19 - 1_month
2016-01-04 14:06:04.131538 ==> Argentina + Uruguay - 2015-07-19 - 2_month
2016-01-04 14:06:05.062976 ==> Argentina + Uruguay - 2015-07-19 - 3_month
2016-01-04 14:06:06.014325 ==> Argentina + Uruguay - 2015-07-19 - 4_month
2016-01-04 14:06:07.008792 ==> Argentina + Uruguay - 2015-07-19 - 5_month
2016-01-04 14:06:07.977934 ==> Argentina + Uruguay - 2015-07-19 - 6_month
2016-01-04 14:06:09.142758 ==> Argentina + Uruguay - 2015-07-19 - 7_to_12_month
2016-01-04 14:06:10.118405 ==> Argentina + Uruguay - 2015-08-18 - same_month
2016-01-04 14:06:11.110405 ==> Argentina + Uruguay - 2015-08-18 - 1_month
2016-01-04 14:06:12.110466 ==> Argentina + Uruguay - 2015-08-18 - 2_month
2016-01-04 14:06:13.131979 ==> Argentina + Uruguay - 2015-08-18 - 3_month
2016-01-04 14:06:14.424396 ==> Argentina + Uruguay - 2015-08-18 - 4_month
2016-01-04 14:06:15.822945 ==> Argentina + Uruguay - 2015-08-18 - 5_month
2016-01-04 14:06:16.964613 ==> Argentina + Uruguay - 2015-08-18 - 6_month
2016-01-04 14:06:18.116392 ==> Argentina + Uruguay - 2015-08-18 - 7_to_12_month
2016-01-04 14:06:19.119114 ==> Argentina + Uruguay - 2015-09-17 - same_month
2016-01-04 14:06:20.141248 ==> Argentina + Uruguay - 2015-09-17 - 1_month
2016-01-04 14:06:21.300375 ==> Argentina + Uruguay - 2015-09-17 - 2_month
2016-01-04 14:06:22.279545 ==> Argentina + Uruguay - 2015-09-17 - 3_month
2016-01-04 14:06:23.237418 ==> Argentina + Uruguay - 2015-09-17 - 4_month
2016-01-04 14:06:24.433117 ==> Argentina + Uruguay - 2015-09-17 - 5_month
2016-01-04 14:06:25.392856 ==> Argentina + Uruguay - 2015-09-17 - 6_month
2016-01-04 14:06:26.382609 ==> Argentina + Uruguay - 2015-09-17 - 7_to_12_month
2016-01-04 14:06:27.315569 ==> Argentina + Uruguay - 2015-10-17 - same_month
2016-01-04 14:06:28.413963 ==> Argentina + Uruguay - 2015-10-17 - 1_month
2016-01-04 14:06:29.424338 ==> Argentina + Uruguay - 2015-10-17 - 2_month
2016-01-04 14:06:30.590764 ==> Argentina + Uruguay - 2015-10-17 - 3_month
2016-01-04 14:06:31.884346 ==> Argentina + Uruguay - 2015-10-17 - 4_month
2016-01-04 14:06:33.314106 ==> Argentina + Uruguay - 2015-10-17 - 5_month
2016-01-04 14:06:34.358031 ==> Argentina + Uruguay - 2015-10-17 - 6_month
2016-01-04 14:06:36.041309 ==> Argentina + Uruguay - 2015-10-17 - 7_to_12_month
2016-01-04 14:06:37.657666 ==> Argentina + Uruguay - 2015-11-16 - same_month
2016-01-04 14:06:39.458312 ==> Argentina + Uruguay - 2015-11-16 - 1_month
2016-01-04 14:06:41.275683 ==> Argentina + Uruguay - 2015-11-16 - 2_month
2016-01-04 14:06:42.997405 ==> Argentina + Uruguay - 2015-11-16 - 3_month
2016-01-04 14:06:44.520959 ==> Argentina + Uruguay - 2015-11-16 - 4_month
2016-01-04 14:06:45.868733 ==> Argentina + Uruguay - 2015-11-16 - 5_month
2016-01-04 14:06:47.211107 ==> Argentina + Uruguay - 2015-11-16 - 6_month
2016-01-04 14:06:48.505925 ==> Argentina + Uruguay - 2015-11-16 - 7_to_12_month
2016-01-04 14:06:49.937293 ==> Argentina + Uruguay - 2015-12-16 - same_month
2016-01-04 14:06:51.555773 ==> Argentina + Uruguay - 2015-12-16 - 1_month
2016-01-04 14:06:52.912275 ==> Argentina + Uruguay - 2015-12-16 - 2_month
2016-01-04 14:06:54.632502 ==> Argentina + Uruguay - 2015-12-16 - 3_month
2016-01-04 14:06:56.319221 ==> Argentina + Uruguay - 2015-12-16 - 4_month
2016-01-04 14:06:57.950837 ==> Argentina + Uruguay - 2015-12-16 - 5_month
2016-01-04 14:06:59.364166 ==> Argentina + Uruguay - 2015-12-16 - 6_month
2016-01-04 14:07:00.791520 ==> Argentina + Uruguay - 2015-12-16 - 7_to_12_month
2016-01-04 14:07:02.151560 ==> Brasil - 2015-04-20 - same_month
2016-01-04 14:07:03.922765 ==> Brasil - 2015-04-20 - 1_month
2016-01-04 14:07:05.331384 ==> Brasil - 2015-04-20 - 2_month
2016-01-04 14:07:06.920282 ==> Brasil - 2015-04-20 - 3_month
2016-01-04 14:07:08.655644 ==> Brasil - 2015-04-20 - 4_month
2016-01-04 14:07:10.268358 ==> Brasil - 2015-04-20 - 5_month
2016-01-04 14:07:11.756273 ==> Brasil - 2015-04-20 - 6_month
2016-01-04 14:07:12.796573 ==> Brasil - 2015-04-20 - 7_to_12_month
2016-01-04 14:07:13.939428 ==> Brasil - 2015-05-20 - same_month
2016-01-04 14:07:14.998675 ==> Brasil - 2015-05-20 - 1_month
2016-01-04 14:07:16.031955 ==> Brasil - 2015-05-20 - 2_month
2016-01-04 14:07:17.300793 ==> Brasil - 2015-05-20 - 3_month
2016-01-04 14:07:18.371165 ==> Brasil - 2015-05-20 - 4_month
2016-01-04 14:07:19.896129 ==> Brasil - 2015-05-20 - 5_month
2016-01-04 14:07:20.999302 ==> Brasil - 2015-05-20 - 6_month
2016-01-04 14:07:22.091513 ==> Brasil - 2015-05-20 - 7_to_12_month
2016-01-04 14:07:23.180902 ==> Brasil - 2015-06-19 - same_month
2016-01-04 14:07:24.663400 ==> Brasil - 2015-06-19 - 1_month
2016-01-04 14:07:26.082451 ==> Brasil - 2015-06-19 - 2_month
2016-01-04 14:07:27.394483 ==> Brasil - 2015-06-19 - 3_month
2016-01-04 14:07:28.960679 ==> Brasil - 2015-06-19 - 4_month
2016-01-04 14:07:30.686878 ==> Brasil - 2015-06-19 - 5_month
2016-01-04 14:07:32.302337 ==> Brasil - 2015-06-19 - 6_month
2016-01-04 14:07:33.304245 ==> Brasil - 2015-06-19 - 7_to_12_month
2016-01-04 14:07:34.310065 ==> Brasil - 2015-07-19 - same_month
2016-01-04 14:07:35.260179 ==> Brasil - 2015-07-19 - 1_month
2016-01-04 14:07:36.221570 ==> Brasil - 2015-07-19 - 2_month
2016-01-04 14:07:37.634666 ==> Brasil - 2015-07-19 - 3_month
2016-01-04 14:07:39.378980 ==> Brasil - 2015-07-19 - 4_month
2016-01-04 14:07:40.727011 ==> Brasil - 2015-07-19 - 5_month
2016-01-04 14:07:41.720824 ==> Brasil - 2015-07-19 - 6_month
2016-01-04 14:07:42.706893 ==> Brasil - 2015-07-19 - 7_to_12_month
2016-01-04 14:07:43.657590 ==> Brasil - 2015-08-18 - same_month
2016-01-04 14:07:44.618055 ==> Brasil - 2015-08-18 - 1_month
2016-01-04 14:07:45.597997 ==> Brasil - 2015-08-18 - 2_month
2016-01-04 14:07:47.180759 ==> Brasil - 2015-08-18 - 3_month
2016-01-04 14:07:48.924935 ==> Brasil - 2015-08-18 - 4_month
2016-01-04 14:07:50.151192 ==> Brasil - 2015-08-18 - 5_month
2016-01-04 14:07:51.138437 ==> Brasil - 2015-08-18 - 6_month
2016-01-04 14:07:52.092611 ==> Brasil - 2015-08-18 - 7_to_12_month
2016-01-04 14:07:53.219723 ==> Brasil - 2015-09-17 - same_month
2016-01-04 14:07:54.194273 ==> Brasil - 2015-09-17 - 1_month
2016-01-04 14:07:55.196080 ==> Brasil - 2015-09-17 - 2_month
2016-01-04 14:07:56.349877 ==> Brasil - 2015-09-17 - 3_month
2016-01-04 14:07:57.853657 ==> Brasil - 2015-09-17 - 4_month
2016-01-04 14:07:58.924786 ==> Brasil - 2015-09-17 - 5_month
2016-01-04 14:07:59.935226 ==> Brasil - 2015-09-17 - 6_month
2016-01-04 14:08:00.906179 ==> Brasil - 2015-09-17 - 7_to_12_month
2016-01-04 14:08:02.146076 ==> Brasil - 2015-10-17 - same_month
2016-01-04 14:08:03.213774 ==> Brasil - 2015-10-17 - 1_month
2016-01-04 14:08:04.448221 ==> Brasil - 2015-10-17 - 2_month
2016-01-04 14:08:05.571759 ==> Brasil - 2015-10-17 - 3_month
2016-01-04 14:08:06.640999 ==> Brasil - 2015-10-17 - 4_month
2016-01-04 14:08:07.894174 ==> Brasil - 2015-10-17 - 5_month
2016-01-04 14:08:09.244332 ==> Brasil - 2015-10-17 - 6_month
2016-01-04 14:08:10.320651 ==> Brasil - 2015-10-17 - 7_to_12_month
2016-01-04 14:08:11.341808 ==> Brasil - 2015-11-16 - same_month
2016-01-04 14:08:12.321448 ==> Brasil - 2015-11-16 - 1_month
2016-01-04 14:08:13.327921 ==> Brasil - 2015-11-16 - 2_month
2016-01-04 14:08:14.698556 ==> Brasil - 2015-11-16 - 3_month
2016-01-04 14:08:15.774909 ==> Brasil - 2015-11-16 - 4_month
2016-01-04 14:08:16.932336 ==> Brasil - 2015-11-16 - 5_month
2016-01-04 14:08:18.010989 ==> Brasil - 2015-11-16 - 6_month
2016-01-04 14:08:19.215624 ==> Brasil - 2015-11-16 - 7_to_12_month
2016-01-04 14:08:20.930079 ==> Brasil - 2015-12-16 - same_month
2016-01-04 14:08:22.453806 ==> Brasil - 2015-12-16 - 1_month
2016-01-04 14:08:23.513487 ==> Brasil - 2015-12-16 - 2_month
2016-01-04 14:08:24.699937 ==> Brasil - 2015-12-16 - 3_month
2016-01-04 14:08:25.726474 ==> Brasil - 2015-12-16 - 4_month
2016-01-04 14:08:26.722925 ==> Brasil - 2015-12-16 - 5_month
2016-01-04 14:08:27.683146 ==> Brasil - 2015-12-16 - 6_month
2016-01-04 14:08:28.699347 ==> Brasil - 2015-12-16 - 7_to_12_month
2016-01-04 14:08:29.686701 ==> Chile - 2015-04-20 - same_month
2016-01-04 14:08:30.708749 ==> Chile - 2015-04-20 - 1_month
2016-01-04 14:08:31.756515 ==> Chile - 2015-04-20 - 2_month
2016-01-04 14:08:32.775218 ==> Chile - 2015-04-20 - 3_month
2016-01-04 14:08:33.773251 ==> Chile - 2015-04-20 - 4_month
2016-01-04 14:08:34.756308 ==> Chile - 2015-04-20 - 5_month
2016-01-04 14:08:35.743681 ==> Chile - 2015-04-20 - 6_month
2016-01-04 14:08:36.776657 ==> Chile - 2015-04-20 - 7_to_12_month
2016-01-04 14:08:37.800126 ==> Chile - 2015-05-20 - same_month
2016-01-04 14:08:38.795856 ==> Chile - 2015-05-20 - 1_month
2016-01-04 14:08:39.809019 ==> Chile - 2015-05-20 - 2_month
2016-01-04 14:08:40.810154 ==> Chile - 2015-05-20 - 3_month
2016-01-04 14:08:41.823851 ==> Chile - 2015-05-20 - 4_month
2016-01-04 14:08:42.816005 ==> Chile - 2015-05-20 - 5_month
2016-01-04 14:08:44.213573 ==> Chile - 2015-05-20 - 6_month
2016-01-04 14:08:45.273297 ==> Chile - 2015-05-20 - 7_to_12_month
2016-01-04 14:08:46.476217 ==> Chile - 2015-06-19 - same_month
2016-01-04 14:08:47.422610 ==> Chile - 2015-06-19 - 1_month
2016-01-04 14:08:48.395305 ==> Chile - 2015-06-19 - 2_month
2016-01-04 14:08:49.693069 ==> Chile - 2015-06-19 - 3_month
2016-01-04 14:08:51.464958 ==> Chile - 2015-06-19 - 4_month
2016-01-04 14:08:52.452374 ==> Chile - 2015-06-19 - 5_month
2016-01-04 14:08:53.403949 ==> Chile - 2015-06-19 - 6_month
2016-01-04 14:08:54.408142 ==> Chile - 2015-06-19 - 7_to_12_month
2016-01-04 14:08:55.546708 ==> Chile - 2015-07-19 - same_month
2016-01-04 14:08:56.746960 ==> Chile - 2015-07-19 - 1_month
2016-01-04 14:08:58.216496 ==> Chile - 2015-07-19 - 2_month
2016-01-04 14:08:59.618343 ==> Chile - 2015-07-19 - 3_month
2016-01-04 14:09:00.691133 ==> Chile - 2015-07-19 - 4_month
2016-01-04 14:09:01.682856 ==> Chile - 2015-07-19 - 5_month
2016-01-04 14:09:02.660408 ==> Chile - 2015-07-19 - 6_month
2016-01-04 14:09:03.609814 ==> Chile - 2015-07-19 - 7_to_12_month
2016-01-04 14:09:04.562069 ==> Chile - 2015-08-18 - same_month
2016-01-04 14:09:05.525685 ==> Chile - 2015-08-18 - 1_month
2016-01-04 14:09:06.522302 ==> Chile - 2015-08-18 - 2_month
2016-01-04 14:09:07.676252 ==> Chile - 2015-08-18 - 3_month
2016-01-04 14:09:08.736641 ==> Chile - 2015-08-18 - 4_month
2016-01-04 14:09:09.913007 ==> Chile - 2015-08-18 - 5_month
2016-01-04 14:09:10.915766 ==> Chile - 2015-08-18 - 6_month
2016-01-04 14:09:11.923083 ==> Chile - 2015-08-18 - 7_to_12_month
2016-01-04 14:09:12.920714 ==> Chile - 2015-09-17 - same_month
2016-01-04 14:09:13.944899 ==> Chile - 2015-09-17 - 1_month
2016-01-04 14:09:14.947398 ==> Chile - 2015-09-17 - 2_month
2016-01-04 14:09:16.177454 ==> Chile - 2015-09-17 - 3_month
2016-01-04 14:09:17.197536 ==> Chile - 2015-09-17 - 4_month
2016-01-04 14:09:18.277581 ==> Chile - 2015-09-17 - 5_month
2016-01-04 14:09:19.318427 ==> Chile - 2015-09-17 - 6_month
2016-01-04 14:09:20.320064 ==> Chile - 2015-09-17 - 7_to_12_month
2016-01-04 14:09:21.276271 ==> Chile - 2015-10-17 - same_month
2016-01-04 14:09:22.242155 ==> Chile - 2015-10-17 - 1_month
2016-01-04 14:09:23.210318 ==> Chile - 2015-10-17 - 2_month
2016-01-04 14:09:24.235321 ==> Chile - 2015-10-17 - 3_month
2016-01-04 14:09:25.500163 ==> Chile - 2015-10-17 - 4_month
2016-01-04 14:09:26.546430 ==> Chile - 2015-10-17 - 5_month
2016-01-04 14:09:27.592263 ==> Chile - 2015-10-17 - 6_month
2016-01-04 14:09:28.640653 ==> Chile - 2015-10-17 - 7_to_12_month
2016-01-04 14:09:29.651745 ==> Chile - 2015-11-16 - same_month
2016-01-04 14:09:30.642344 ==> Chile - 2015-11-16 - 1_month
2016-01-04 14:09:31.624209 ==> Chile - 2015-11-16 - 2_month
2016-01-04 14:09:32.639709 ==> Chile - 2015-11-16 - 3_month
2016-01-04 14:09:33.710221 ==> Chile - 2015-11-16 - 4_month
2016-01-04 14:09:35.151168 ==> Chile - 2015-11-16 - 5_month
2016-01-04 14:09:36.845814 ==> Chile - 2015-11-16 - 6_month
2016-01-04 14:09:38.330095 ==> Chile - 2015-11-16 - 7_to_12_month
2016-01-04 14:09:39.377345 ==> Chile - 2015-12-16 - same_month
2016-01-04 14:09:40.377610 ==> Chile - 2015-12-16 - 1_month
2016-01-04 14:09:41.336365 ==> Chile - 2015-12-16 - 2_month
2016-01-04 14:09:42.280764 ==> Chile - 2015-12-16 - 3_month
2016-01-04 14:09:43.474706 ==> Chile - 2015-12-16 - 4_month
2016-01-04 14:09:44.707171 ==> Chile - 2015-12-16 - 5_month
2016-01-04 14:09:45.833983 ==> Chile - 2015-12-16 - 6_month
2016-01-04 14:09:46.852303 ==> Chile - 2015-12-16 - 7_to_12_month
2016-01-04 14:09:47.870595 ==> Colombia - 2015-04-20 - same_month
2016-01-04 14:09:48.869092 ==> Colombia - 2015-04-20 - 1_month
2016-01-04 14:09:49.843933 ==> Colombia - 2015-04-20 - 2_month
2016-01-04 14:09:50.858256 ==> Colombia - 2015-04-20 - 3_month
2016-01-04 14:09:51.908292 ==> Colombia - 2015-04-20 - 4_month
2016-01-04 14:09:53.001731 ==> Colombia - 2015-04-20 - 5_month
2016-01-04 14:09:54.036753 ==> Colombia - 2015-04-20 - 6_month
2016-01-04 14:09:55.123301 ==> Colombia - 2015-04-20 - 7_to_12_month
2016-01-04 14:09:56.156703 ==> Colombia - 2015-05-20 - same_month
2016-01-04 14:09:57.337528 ==> Colombia - 2015-05-20 - 1_month
2016-01-04 14:09:58.385863 ==> Colombia - 2015-05-20 - 2_month
2016-01-04 14:09:59.773298 ==> Colombia - 2015-05-20 - 3_month
2016-01-04 14:10:01.103646 ==> Colombia - 2015-05-20 - 4_month
2016-01-04 14:10:02.115545 ==> Colombia - 2015-05-20 - 5_month
2016-01-04 14:10:03.148338 ==> Colombia - 2015-05-20 - 6_month
2016-01-04 14:10:04.131989 ==> Colombia - 2015-05-20 - 7_to_12_month
2016-01-04 14:10:05.072290 ==> Colombia - 2015-06-19 - same_month
2016-01-04 14:10:06.037385 ==> Colombia - 2015-06-19 - 1_month
2016-01-04 14:10:07.124234 ==> Colombia - 2015-06-19 - 2_month

In [15]:
html_driver = html(cohort_driver_final,cohort_size_driver,1)
html_pax = html(cohort_passenger_final,cohort_size_pax,2)

In [16]:
html_pdf = html_driver + '<br/><br/><br/><br/><br/><br/><br/><br/>' +  html_pax 
PDFReport_Name = titles(2)
pdfkit.from_string(html_pdf, "/home/ricardo/Tripda/cohort/" + 'Cohorts-December_2015.pdf')

Loading pages (1/5)
Resolving links (2/5)
Counting pages (3/5)
Printing pages (5/5)
Done

True

In [27]:
html_body = html_inicial() + html_driver + html_pax
Subject = titles(1)
SendEmail('teste',html_body,'ricardo.nakano@tripda.com.br','tripda-datateam@tripda.com.br','123@datateam','','')

Unexpected error: <type 'exceptions.IOError'>

In [17]:
df = pd.DataFrame(columns=('Country', 'Date', 'Reference', \
                           'cohort size RR1 driver','cohort size RR2 driver', \
                           'RR1 driver', 'RR1 driver_Ac','RR2 driver', 'RR2 driver_Ac', \
                           'cohort size RR1 pax','cohort size  RR2 pax',\
                           'RR1 pax', 'RR1 pax_Ac','RR2 pax', 'RR2 pax_Ac'))
count = 0

for locate in countries:
    for date in months:
        for referece in reference_month:
            toexcel = []
            toexcel.append(locate)
            toexcel.append(date.strftime("%b/%Y"))
            toexcel.append(referece)
            
            toexcel.append(cohort_size_driver[locate][date]['RR1'])
            toexcel.append(cohort_size_driver[locate][date]['RR2'])
            if cohort_driver_final[locate][date][referece]['RR1'] < 0:
                toexcel.append(-cohort_driver_final[locate][date][referece]['RR1'])
                toexcel.append(-cohort_driver_final[locate][date][referece]['RR1_Ac'])
            elif cohort_driver_final[locate][date][referece]['RR1'] >= pow(10,100):
                toexcel.append(0)  
                toexcel.append(0)
            else:
                toexcel.append(cohort_driver_final[locate][date][referece]['RR1'])
                toexcel.append(cohort_driver_final[locate][date][referece]['RR1_Ac'])   
                
            if cohort_driver_final[locate][date][referece]['RR2'] < 0:
                toexcel.append(-cohort_driver_final[locate][date][referece]['RR2'])
                toexcel.append(-cohort_driver_final[locate][date][referece]['RR2_Ac'])
            elif cohort_driver_final[locate][date][referece]['RR2'] >= pow(10,100):
                toexcel.append(0)
                toexcel.append(0) 
            else:
                toexcel.append(cohort_driver_final[locate][date][referece]['RR2'])
                toexcel.append(cohort_driver_final[locate][date][referece]['RR2_Ac']) 
            
            toexcel.append(cohort_size_pax[locate][date]['RR1'])
            toexcel.append(cohort_size_pax[locate][date]['RR2'])
            if cohort_passenger_final[locate][date][referece]['RR1'] < 0:
                toexcel.append(-cohort_passenger_final[locate][date][referece]['RR1'])
                toexcel.append(-cohort_passenger_final[locate][date][referece]['RR1_Ac'])
            elif cohort_passenger_final[locate][date][referece]['RR1'] >= pow(10,100):
                toexcel.append(0)
                toexcel.append(0)
            else:
                toexcel.append(cohort_passenger_final[locate][date][referece]['RR1']) 
                toexcel.append(cohort_passenger_final[locate][date][referece]['RR1_Ac']) 
                
            if cohort_passenger_final[locate][date][referece]['RR2'] < 0:
                toexcel.append(-cohort_passenger_final[locate][date][referece]['RR2'])
                toexcel.append(-cohort_passenger_final[locate][date][referece]['RR2_Ac'])
            elif cohort_passenger_final[locate][date][referece]['RR2'] >= pow(10,100):
                toexcel.append(0)
                toexcel.append(0) 
            else:
                toexcel.append(cohort_passenger_final[locate][date][referece]['RR2'])
                toexcel.append(cohort_passenger_final[locate][date][referece]['RR2_Ac'])

            df.loc[count] = toexcel
            count += 1

In [18]:
df.to_csv('/home/ricardo/Tripda/cohort/cohort.csv', sep=',')

In [67]:
writer = pd.ExcelWriter('/home/ricardo/Tripda/cohort/cohort.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='cohort')

writer.save()

ValueError: Invalid extension for engine 'xlsxwriter': 'csv'

In [66]:
df

,Country,Date,Reference,cohort size RR1 driver,cohort size RR2 driver,RR1 driver,RR2 driver_Ac,RR1 driver,RR2 driver_Ac
0,TOTAL,Jan/2015,same_month,1430,552509,363,363,335060,335060
1,TOTAL,Jan/2015,1_month,1430,552509,211,465,199302,534362
2,TOTAL,Jan/2015,2_month,1430,552509,158,498,170602,704964
3,TOTAL,Jan/2015,3_month,1430,552509,157,523,197137,902101
4,TOTAL,Jan/2015,4_month,1430,552509,105,531,159756,1061857
5,TOTAL,Jan/2015,5_month,1430,552509,110,542,135796,1197653
6,TOTAL,Jan/2015,6_month,1430,552509,87,552,109172,1306825
7,TOTAL,Jan/2015,7_to_12_month,1430,552509,121,569,267525,1574350
8,TOTAL,Feb/2015,same_month,1292,464459,364,364,380072,380072
9,TOTAL,Feb/2015,1_month,1292,464459,246,486,285114,665186
10,TOTAL,Feb/2015,2_month,1292,464459,194,522,252522,917708
11,TOTAL,Feb/2015,3_month,1292,464459,150,542,199337,1117045
12,TOTAL,Feb/2015,4_month,1292,464459,115,560,148095,1265140
13,TOTAL,Feb/2015,5_month,1292,464459,101,576,141697,1406837
14,TOTAL,Feb/2015,6_month,1292,464459,121,589,192987,1599824
15,TOTAL,Feb/2015,7_to_12_month,1292,464459,106,599,148485,1748309
16,TOTAL,Mar/2015,same_month,2226,656994,870,870,582504,582504
17,TOTAL,Mar/2015,1_month,2226,656994,341,1008,331995,914499
18,TOTAL,Mar/2015,2_month,2226,656994,269,1059,277306,1191805
19,TOTAL,Mar/2015,3_month,2226,656994,211,1079,242789,1434594
20,TOTAL,Mar/2015,4_month,2226,656994,151,1094,161811,1596405
21,TOTAL,Mar/2015,5_month,2226,656994,176,1120,216228,1812633
22,TOTAL,Mar/2015,6_month,2226,656994,171,1137,185390,1998023
23,TOTAL,Mar/2015,7_to_12_month,2226,656994,0,0,0,0
24,TOTAL,Apr/2015,same_month,2191,1083582,1067,1067,1077493,1077493
25,TOTAL,Apr/2015,1_month,2191,1083582,426,1203,405099,1482592
26,TOTAL,Apr/2015,2_month,2191,1083582,327,1263,317056,1799648
27,TOTAL,Apr/2015,3_month,2191,1083582,183,1285,177573,1977221
28,TOTAL,Apr/2015,4_month,2191,1083582,290,1322,371125,2348346
29,TOTAL,Apr/2015,5_month,2191,1083582,247,1342,309001,2657347
...,...,...,...,...,...,...,...,...,...
618,Pakistan,Jun/2015,2_month,134,165748,11,32,13966,89904
619,Pakistan,Jun/2015,3_month,134,165748,8,36,4578,94482
620,Pakistan,Jun/2015,4_month,134,165748,0,0,0,0
621,Pakistan,Jun/2015,5_month,134,165748,0,0,0,0
622,Pakistan,Jun/2015,6_month,134,165748,0,0,0,0
623,Pakistan,Jun/2015,7_to_12_month,134,165748,0,0,0,0
624,Pakistan,Jul/2015,same_month,242,195906,69,69,139687,139687
625,Pakistan,Jul/2015,1_month,242,195906,44,89,41345,181032
626,Pakistan,Jul/2015,2_month,242,195906,27,96,23780,204812
627,Pakistan,Jul/2015,3_month,242,195906,0,0,0,0
628,Pakistan,Jul/2015,4_month,242,195906,0,0,0,0
629,Pakistan,Jul/2015,5_month,242,195906,0,0,0,0
630,Pakistan,Jul/2015,6_month,242,195906,0,0,0,0
631,Pakistan,Jul/2015,7_to_12_month,242,195906,0,0,0,0
632,Pakistan,Aug/2015,same_month,342,278117,109,109,230906,230906
633,Pakistan,Aug/2015,1_month,342,278117,53,126,19073,249979
634,Pakistan,Aug/2015,2_month,342,278117,0,0,0,0
635,Pakistan,Aug/2015,3_month,342,278117,0,0,0,0
636,Pakistan,Aug/2015,4_month,342,278117,0,0,0,0
637,Pakistan,Aug/2015,5_month,342,278117,0,0,0,0
638,Pakistan,Aug/2015,6_month,342,278117,0,0,0,0
639,Pakistan,Aug/2015,7_to_12_month,342,278117,0,0,0,0
640,Pakistan,Sep/2015,same_month,363,188576,106,106,69288,69288
641,Pakistan,Sep/2015,1_month,363,188576,0,0,0,0
642,Pakistan,Sep/2015,2_month,363,188576,0,0,0,0
643,Pakistan,Sep/2015,3_month,363,188576,0,0,0,0
644,Pakistan,Sep/2015,4_month,363,188576,0,0,0,0
645,Pakistan,Sep/2015,5_month,363,188576,0,0,0,0
646,Pakistan,Sep/2015,6_month,363,188576,0,0,0,0
647,Pakistan,Sep/2015,7_to_12_month,363,188576,0,0,0,0

In [60]:
datetime.strptime('15' + '09' + '2015' , "%d%m%Y").date()

datetime.date(2015, 9, 15)

In [1]:
months

NameError: name 'months' is not defined